.component-top-navigator {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  position: fixed;
  width: 100%; }
  .component-top-navigator a {
    text-decoration: none;
    font-weight: 600; }
    .component-top-navigator a:visited {
      color: inherit; }
    .component-top-navigator a:hover {
      color: #ffffffd9; }
