$topNavigatorPadding: 10px;
$topNavigatorHeight: 20px;

.component-top-navigator {
    align-items: center;
    background: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: $topNavigatorPadding;
    position: fixed;
    height: $topNavigatorHeight;
    width: 100%;
    z-index: 1000;

    a {
        text-decoration: none;
        font-weight: 600;
        
        &:visited {
            color: inherit;
        }

        &:hover {
            color: #ffffffd9;
        }
    }
}