@import './components/TopNavigator/TopNavigator.scss';

.app-container {
    padding-top: $topNavigatorHeight + ($topNavigatorPadding * 2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.text-center {
    text-align: center;
}