.component-film-item {
    .item-content {
        animation: slide-up 0.4s ease;
        margin: 5px;

        .image-and-details {
            img {
                width: 100%;
            }
        }

        &:hover {
            background: #00000024;
        }
    }

    @keyframes slide-up {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}